@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
  margin: 0;
  background-color: var(--surface-ground);
  color: var(--text-color);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/* Scrollbar styles
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #111822;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

a,
p,
div,
span,
b,
strong,
td,
th {
  user-select: none !important;
}

* {
  outline: none !important;
}
